/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-inline-size: 375px;
  max-inline-size: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
li {
  margin: 0;
  font-family: var(--font-family-global, 'IBM Plex mono', monospace, sans-serif);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--color-header, rgb(219 0 255));
  font-size: var(--font-size-header-mobile, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: var(--line-height-header, 82.5%);
}

h2,
h3,
h4 {
  color: var(--color-subheader, rgb(255 0 112));
}

p,
a,
button,
li {
  color: var(--color-text, rgb(241 178 206));
}

h2,
h3,
h4,
p,
a,
button,
li {
  font-size: var(--font-size-text, 18px);
  line-height: var(--line-height-text, 130%);
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold, bold);
}

h4,
p,
a,
button,
li {
  font-weight: var(--font-weight-regular, normal);
}