/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {

  /* переменные js функции-переключателя светлой темы */

  --color-background: rgb(255 241 247);
  --color-text: rgb(53 52 48);
  --color-accent: rgb(255 141 203);
  --color-accent-alternative: var(--color-text, rgb(53 52 48));
  --color-header: rgb(255 194 230);
  --color-subheader: var(--color-text, rgb(53 52 48));
  --color-subheader-thin: rgb(53 52 48 / 0.4);
  --decor-display: none;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {

  /* переменные светлой темы для настроек предпочтений пользователя */

  :root {
    --color-background: rgb(255 241 247);
    --color-text: rgb(53 52 48);
    --color-accent: rgb(255 141 203);
    --color-accent-alternative: var(--color-text, rgb(53 52 48));
    --color-header: rgb(255 194 230);
    --color-subheader: var(--color-text, rgb(53 52 48));
    --color-subheader-thin: rgb(53 52 48 / 0.4);
    --decor-display: none;
    --background-image: url(../images/cover-image-light.png);
  }

}